apiVersion: v1
kind: Service
metadata:
  name: demo-app-service
  namespace: argocd-demo
  labels:
    app: demo-app
spec:
  type: NodePort
  selector:
    app: demo-app
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
    protocol: TCP
    name: http
